h1.heading {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font: 18px Georgia, "Times New Roman", Times, serif;
}

/* width and height of google map */

#google_map {
    width: 90%;
    height: 500px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* Marker Info Window */

h1.marker-heading {
    color: #585858;
    margin: 0px;
    padding: 0px;
    font: 18px "Trebuchet MS", Arial;
    border-bottom: 1px dotted #D8D8D8;
}
div.marker-info-win p {
    padding: 0px;
    margin: 10px 0px 10px 0;
}
div.marker-inner-win {
    padding: 0;
    float: left;
    width: 300px;
}
button.save-marker,
button.remove-marker {
    border: none;
    background: rgba(0, 0, 0, 0);
    color: #00F;
    padding: 0px;
    text-decoration: underline;
    margin-right: 10px;
    cursor: pointer;
}
