<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- INFO, WARN -->
	<appender name="fileInfo" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../booker-log/log.out" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c - %t -%p - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- ERROR -->
	<appender name="fileError" class="org.apache.log4j.FileAppender">
		<param name="File" value="../booker-log/error.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c - %t -%p - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="fileInfo" />
		<appender-ref ref="fileError" />
	</root>

</log4j:configuration>